<p id="notice"><%= notice %></p>

<h1>物件一覧</h1>

<table>
      <thead>
        <tr>
          <th>物件名  </th>
          <th>賃料  </th>
          <th>住所  </th>
          <th>築年数  </th>
          <th>備考  </th>
        </tr>
      </thead>
    <article>
    <% @property.each do |property| %>
      <tr>
          <td><%= property.name %></td>
          <td><%= property.rent %></td>
          <td><%= property.address %></td>
          <td><%= property.age %></td>
          <td><%= property.note %></td>
          <td><%= link_to '詳細', property %></td>
          <td><%= link_to '編集', edit_property_path(property) %></td>
          <td><%= link_to '削除', property, method: :delete, data: { confirm: '本当に削除していいですか?' } %></td>
      </tr>
    <% end %>


  </article>
</table>

<br>

<%= link_to '物件登録', new_property_path %>
